<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body{
        background-color: beige;
      }
      ul{
        font-size: 15pt;
      }
      li{
        color: rgb(126, 84, 29)
      }
    </style>
  </head>
  <body>
    <h1>Library Catalog</h1>
<ul>
    <% library.forEach(book=> { %>
      <li>Title of the book: <%= book.title%> - Author: <%= book.author %></li>
  <% }) %>
  </ul>
  
  <h2>Add a book</h2>
  <!-- <h3>Add a Comment</h3> -->
  <form action="/library/books" method="POST">
    <input name="title" placeholder="Book Title" required/>
    <input name="author"  placeholder="Author" required/>
    <button type="submit">Add</button>
  </form>
  <h2>Update author</h2>
  <form action="/library/books/update?_method=PATCH" method="POST">
      <input type="number" name="id" placeholder="Book ID" required>
      <input type="text" name="author" placeholder="New Author" required>
      <button type="submit">Update Author</button>
    </form>
<h2>Delete a book</h2>
<form action="/library/books/delete?_method=delete" method="POST">
      <input type="number" name="id" placeholder="Book ID" required>
      <button type="submit">Delete</button>
</form>
</body>
</html>